@charset "UTF-8";


header {
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(8, 8, 8), rgba(0, 0, 0, 0.705)) ,url(../img/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    margin: 50px auto;
    width: 25%;
    position: relative;
    top: 5;
    left: 50%;
    transform: translate(-50%);
}

.list-items {
    width: 100%;
    max-width: 1280px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    letter-spacing: .1rem;
}

@media screen and (max-width: 1080px) {
    header {
        background-position: right center;
        height: 100%;
    }
    header img {
        margin-bottom: 10px;
        width: 30%;
    }
    .list-items {
        display: inline-block;
        text-align: center;
        margin: 5px auto;
    }
    header li {
        padding: 20px;
    }

    header a {
        border-bottom: 2px solid rgba(255, 0, 0, 0.274);
    }
}

a {color: white;}

header li {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    header img {
        width: 50%;
    }
    .list-items {
        display: none;
    }
}