@charset "UTF-8";



/* Localização */
.localizacao {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
    background-image: url(../img/Screenshot_4\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.localizacao h1 {
    border-bottom: 2px solid white;
    width: 40%;
    margin: 40px;
    text-transform: uppercase;
    margin-left: 29.5%;
}

.localizacao iframe {
    width: 50%;
    max-width: 600px;
    height: 400px;
}

.local h1 {
    padding-top: 2%;
    /* margin-top: -8%; */
    width: 17%;
    text-align: center;
    border-bottom: 3px solid #03279e5d;

}

.icon-mapa {
    margin-bottom: -4.6%;
    margin-left: -41%;
    width: 2rem;
}


@media screen and (max-width: 768px) {
    .localizacao iframe {
        display: none;
    }
    .icon-mapa {
        display: none;
    }
    .localizacao h1 {
        width: 80%;
        margin: auto;
        font-size: 24px;
    }
    .local h1 {
        width: 40%;
    }
}